/*

* Project: Chemilac

*/

@media (min-width: 1024px) and (max-width: 1199px) {
    .our-products-area .container .entry-content .item .service-single .service-content {
        height: 200px;
    }
    .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item a {
        padding: 0 7px;
        font-size: 14px;
        margin-right: 0px;
    }
}

@media (max-width: 1024px) {
    .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item .sub-menu li.menu-item a {padding: 14px 6px; }
    .contact-us-area .container .row .who-we-are {
        margin-bottom: 20px;
    }
    .entry-content .sideBorder ul>li>a,
    .entry-content+.sideBorder ul>li>a {
        font-size: 14px;
    }
    .page-wrapper .top-banner-info-sec .banner-info-sec .info-content {
        max-width: 300px;
    }

    .page-wrapper .img-banner {
        height: 285px !important;
    }
    .top-banner-info-sec .banner-info-sec .info-content .top-banner-title {
        font-size: 25px;
    }
    .top-banner-info-sec .banner-info-sec .info-content .top-banner-info {
        padding-bottom: 10px;
    }
    .top-banner-info-sec .banner-info-sec .info-content .top-banner-info .rnd-page-desc span,
    .rnd-page-desc span {
        font-size: 14px;
    }
    .newHeading.textHeadingStyle {
        font-size: 18px;
    }
    .entry-content .textFont div {
        font-size: 15px;
        line-height: 1.4;
    }
    .responsive-tabs-wrapper .responsive-tabs .responsive-tabs__list__item {
        font-size: 13px !important;
        padding: 10px 8px 10px;
    }
    .site-main {
        margin-bottom: 30px;
    }
    .rnd-page-cont .rnd-page-subinfo .page-side-info strong {
        font-size: 20px;
    }
    .rnd-page-cont .rnd-page-subinfo:nth-child(even) .page-side-info {
        margin-left: 20px;
    }
    section#heroArea {
        min-height: 300px;
    }
    section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center h5 {
        display: none;
    }
    section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center h1 {
        font-size: 33px;
        line-height: 40px;
    }
    section#about-us {
        padding-top: 40px;
    }
    .about-us-area .metaslider div#metaslider_container_74 {
        margin-top: 40px;
    }
    .about-us-box p {
        word-break: break-all;
    }
    .features-area .feature-single {
        min-height: 150px;
    }
    .features-area-1 .feature-single {
        padding-left: 80px;
    }
    .why-us-area .feature-icon {
        width: 60px;
        height: 60px;
    }
    .header-menu nav.nav-bar.bg-blue-dark {
        background: transparent;
        margin: 0;
        border: 0;
    }
    .page-wrapper header.main-header .header-menu {
        left: inherit;
        right: 0;
        float: right;
        -webkit-transform: inherit;
        transform: inherit;
        z-index: 9;
        top: -15px;
    }
    .header-content .pt-30 {
        padding-top: 0 !important
    }
    nav.nav-bar.bg-blue-dark .navbar-toggle {
        background: #000;
        border-radius: 2px;
        width: 45px;
        height: 40px;
        margin: 0 20px;
        position: absolute;
        top: -59px;
        right: -30px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
        height: 3px;
    }
    nav.nav-bar.bg-blue-dark .navbar-header {
        background: transparent;
        float: none;
    }
    .sticky-nav-tab.navbar-collapse {
        padding: 0 !important;
    }
    .header-menu .navbar {
        min-height: auto;
    }
    nav.nav-bar.bg-blue-dark.navbar .container {
        padding: 0;
    }
    .page-wrapper header.main-header .header-content .row .header-logo-sec .header-brand {
        width: auto !important
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .header-brand img {
        max-width: 120px;
    }
    .page-wrapper header.main-header .header-menu {
        top: 8px;
    }
    section#heroArea {
        min-height: 200px;
    }
    .page-wrapper .img-banner,.img-banner {
        height: 155px !important;
        background-size: contain;
    }
    section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center h1 {
        font-size: 20px;
        line-height: 35px;
        margin: 0 !important;
    }
    section h2 {
        font-size: 22px;
    }
    .entry-content .sideBorder,
    .entry-content+.sideBorder {
        border-top: 1px solid #d4d4d4;
        border-left: 0;
        padding: 40px 15px;
        margin-top: 20px;
    }
    .page-wrapper .top-banner-info-sec .banner-info-sec .info-content {
        background: rgba(0, 0, 0, 0.5);
        height: 300px;
        max-width: 100%;
        width: 100%;
    }
    .top-banner-info-sec .banner-info-sec {
        padding: 0
    }
    .responsive-tabs .responsive-tabs__heading {
        color: #2f2f2f !important;
        padding-bottom: 8px !important;
        margin-top: 0;
        position: relative;
        top: 1px;
        font-weight: 600 !important;
        margin: 2px 0 !important;
        border-top: 1px solid #ccc !important;
    }
    .responsive-tabs .responsive-tabs__panel {
        border: 1px solid #ccc !important;
        padding: 20px !important;
    }
    .top-banner-info-sec .banner-info-sec .info-content .top-banner-title {
        font-size: 20px;
    }
    .top-banner-info-sec .banner-info-sec .info-content .top-banner-info .rnd-page-desc span,
    .rnd-page-desc span {
        font-size: 16px;
    }
    .rnd-page-cont .rnd-page-subinfo .page-side-info,
    .rnd-page-cont .rnd-page-subinfo .page-side-pic {
        width: 100%;
        margin: 0 auto !important;
        padding: 5px 0;
    }
    .rnd-page-cont .rnd-page-subinfo {
        display: block;
        padding: 20px 0;
        border-bottom: 1px dotted #b1b1b1;
    }
    .rnd-page-cont {
        padding: 0 10px;
    }
    .top-banner-info-sec {
        background-size: cover;
    }
    .page-wrapper header.main-header .header-content .row .header-logo-sec {
        text-align: left !important;
    }
    nav.nav-bar.bg-blue-dark .navbar-toggle {
        top: -50px;
    }
    .header-menu .navbar {
        min-height: auto;
    }
    nav.nav-bar.bg-blue-dark.navbar .container {
        padding: 0;
    }
    ul.social-icons.list-inline {
        margin-top: 10px;
        float: none;
    }
    .topbar a {
        color: #fff;
        font-size: 10px;
    }
    .topbar-info li {
        padding: 0 !important;
    }
    .topbar-info li i {
        font-size: 13px;
    }
}


/**Custom-Media-queries-08-07-17**/

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .header-content .col-md-9 {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .page-wrapper .top-banner-info-sec .banner-info-sec .info-content{
        display: none;
    }
    .visible-xs.info-content{
        display:block !important;
    }
}
@media screen and (max-width: 768px) {    
    .topbar {
        height: auto;
    }
    .topbar-info.list-inline.t-xs-center.t-md-left {
        text-align: left !important;
    }
    .topbar-info.list-inline.t-xs-center.t-md-right {
        text-align: right !important;
    }
    h2.write:after,
    h2.write:before {
        display: none;
    }
    h2.write {
        width: 100% !important
    }
    .page-wrapper header.main-header .header-content .row .header-logo-sec .header-brand {
        z-index: 10;
        margin: 0 auto;
        text-align: left;
        width: 100% !important;
    }
    .page-wrapper header.main-header .header-menu {
        top: 0;
    }
    ul.social-icons.list-inline {
        float: left;
    }
    .bx-viewport .gs_logo_single {
        width: 208px !important;
    }

    .metaslider #metaslider_70.flexslider .slides img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0;
    }

    .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item a {
        padding: 0;
    }

    .nav-menu-fixed>a:hover, .nav-menu>li.active:hover>a{
        background-color: transparent;
        color: #e69800
    }
}

@media screen and (max-width: 770px) and (min-width:480px) {
    .page-wrapper header.main-header .header-content .row .header-logo-sec .header-brand {
        width: 150px !important;
    }
}

@media screen and (max-width: 767px) {
    .downloadpdf,
    .careerpage {
        min-height: inherit !important;
    }
}

