@charset "utf-8";


/*
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  Construction, Architecture & Building Company Template
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    - File           : style.css
    - Desc           : Template - Stylesheet
    - Version        : 1.1
    - Date           : 2017-03-01
    - Author         : CODASTROID
    - Email          : codastroid@gmail.com
    - Author URI     : https://themeforest.net/user/codastroid?ref=CODASTROID

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
*/


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––>>> slogan font family  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: 'rage-italic';
    src: url('../fonts/Rage_Italic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Rage_Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Rage_Italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Rage_Italic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Rage_Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Rage_Italic.svg#svgFontName') format('svg');
    /* Legacy iOS */
}






/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––>>> Components  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.lnr {
    font-weight: bold;
}

.block-quote {
    position: relative;
    font-size: 15px;
    background-color: #e8e8e8;
    border-left-color: #ffa700;
    margin: 20px 0 30px 20px;
    padding: 30px 30px 40px 30px;
}

.block-quote:after {
    font-size: 20px;
    bottom: 10px;
    color: #ffa700;
    content: "\f10e";
    font-family: fontawesome;
    position: absolute;
    right: 30px;
}


/* List Styles */

.list-styled {
    list-style-type: disc;
    padding-left: 20px;
    list-style-position: inside;
}


/* Custom Checkbox / Radio */

.custom-checkbox,
.custom-radio {
    position: relative;
    padding-left: 24px;
}

.custom-checkbox input[type="checkbox"],
.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.custom-checkbox label,
.custom-radio label {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox label::after,
.custom-radio label::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    margin-left: -24px;
    background-color: white;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
    background-clip: padding-box;
    cursor: pointer;
}

.custom-radio label::after {
    border-radius: 999px;
}

.custom-checkbox label::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 8px;
    top: 6px;
    left: 0px;
    margin-left: -18px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.custom-radio label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    margin-left: -24px;
    border-radius: 999px;
    opacity: 0;
    z-index: 1;
    border: 4px solid #fff;
}

.custom-checkbox input[type="checkbox"]:checked+label::after,
.custom-radio input[type="radio"]:checked+label::after {
    border-color: #ffa700;
    background-color: #ffa700;
}

.custom-checkbox input[type="checkbox"]:checked+label::before,
.custom-radio input[type="radio"]:checked+label::before {
    opacity: 1;
}


/* Fix Bootstrap Media */

.media-object {
    max-width: none;
}


/* Styled Title */

.h-title {
    position: relative;
    padding-bottom: 0.85em;
}

.h-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
}

.h-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 2px;
    background: #ffa700;
}


/* Alert Error */

.alert-error {
    background-color: #ea4335;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.alert-error a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}


/* Rating Stars */

.rating {
    color: #ff3100;
    font-size: 14px;
}

.rating .rating-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    white-space: nowrap;
    display: inline-table;
}

.rating .rating-stars.rate-allow {
    cursor: pointer;
}

.rating .fa {
    display: table-cell;
    padding: 2px;
}

.rating .rate-allow .fa:hover:before,
.rating .rate-allow .fa:hover~.fa:before,
.rating .rating-stars .fa.star-active:before,
.rating .rating-stars .fa.star-active~.fa:before {
    content: "\f005";
}

.rating .rating-reviews {
    color: #717f86;
    margin-left: 6px;
}


/* Social Icons */

.social-icons__item .fa {
    font-size: 15px;
    margin: 0;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    color: #F5F5F5;
    background-color: rgba(49, 69, 85, 0.25);
}

.social-icons__item .fa:hover {
    background-color: rgba(49, 69, 85, 0.4);
}

.social-icons--colored .social-icons__item i.fa-facebook {
    background-color: #3b5998;
}

.social-icons--colored .social-icons__item i.fa-facebook:hover {
    background-color: #344e86;
}

.social-icons--colored .social-icons__item i.fa-twitter {
    background-color: #1da1f2;
}

.social-icons--colored .social-icons__item i.fa-twitter:hover {
    background-color: #0d95e8;
}

.social-icons--colored .social-icons__item i.fa-google-plus {
    background-color: #dd4b39;
}

.social-icons--colored .social-icons__item i.fa-google-plus:hover {
    background-color: #d73925;
}

.social-icons--colored .social-icons__item i.fa-linkedin {
    background-color: #0077b5;
}

.social-icons--colored .social-icons__item i.fa-linkedin:hover {
    background-color: #00669c;
}

.social-icons--colored .social-icons__item i.fa-pinterest {
    background-color: #cc2222;
}

.social-icons--colored .social-icons__item i.fa-pinterest:hover {
    background-color: #b61e1e;
}


/* Pagination */

.page-pagination {
    font-size: 13px;
}

.page-pagination li {
    display: inline;
}

.page-pagination a.page-numbers,
.page-pagination .page-numbers.current {
    display: inline-block;
    margin: 0 2px;
    padding: 0 13px;
    line-height: 32px;
    height: 36px;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.page-pagination a.page-numbers {
    border-color: #d3d9dd;
    color: #576366;
}

.page-pagination .page-numbers.current,
.page-pagination a.page-numbers:hover {
    border-color: #ffa700;
    background-color: #ffa700;
    color: #fff;
}


/* Flex Slider */

.flexslider {
    margin: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flexslider.flexslider-nav {
    -webkit-box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, .3);
}

.flex-control-thumbs {
    margin: 0;
}

.flex-direction-nav a:before {
    font-size: 25px;
}


/* Flag Icons*/

[class*="fa-flag"] {
    width: 16px;
    height: 11px;
    background-image: url("../images/icons/flags.png");
}

.fa-flag-usa {
    background-position: 0 0;
}

.fa-flag-fra {
    background-position: 0 11px;
}

.fa-flag-ger {
    background-position: 0 22px;
}

.fa-flag-rus {
    background-position: 0 33px;
}


/* Owl Carousel */

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    font-size: 20px;
    margin: 0;
    padding: 4px 8px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 400ms linear 0ms;
    transition: all 400ms linear 0ms;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(0, 0, 0, 0.7);
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


/* Breadcrumb */

.breadcrumb {
    background-color: transparent;
    font-size: 15px;
}

.breadcrumb>li+li:before {
    color: #f1f1f1;
}

.breadcrumb>li a {
    color: #f1f1f1;
}

.breadcrumb>li a:hover,
.breadcrumb>.active {
    color: #fff;
}

.section .section-subtitle {
    color: #646d72;
}


/*Bootstrap Accordion Start*/

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: 10px;
}

.panel-group .panel-body {
    padding: 20px 10px;
}

.panel-heading {
    padding: 0;
}

.panel-title a,
.panel-title a:focus {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 12px 0 12px 22px;
    background-color: #ffa700;
    color: #313131;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 4px;
    border: 0;
    text-shadow: 0px 0px 1px #eee;
}

.panel-title a.collapsed,
.panel-title a.collapsed:focus {
    background-color: #eee;
    color: #313131;
}

.panel-title a:before {
    content: '\f055';
    font-family: fontawesome;
    margin-right: 10px;
    font-size: 16px;
}

.panel-title a[aria-expanded="true"]:before {
    content: '\f056';
}

.collapse {
    padding: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}


/* Styled List */

.list-styled {
    position: relative;
    padding-left: 20px;
    list-style: none;
}

.list-styled li {
    position: relative;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.list-styled li:before {
    content: "\f18e";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 3px;
    color: #ffa700;
    font-size: 17px;
    line-height: 18px;
}


/* Read More Button */

.read-more {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #ffa700;
    position: relative;
    padding-left: 12px;
}

.read-more:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    position: absolute;
    line-height: 18px;
    left: 0;
    top: 0;
}


/* Tabs Area */

.tabs-area .nav-tabs {
    border-bottom: 2px solid #ffa700;
}

.tabs-area .nav-tabs>li {
    margin-bottom: -2px;
}

.tabs-area .nav>li>a {
    padding: 13px 25px;
    font-size: 14px;
    border: none;
}

.tabs-area .nav-tabs>li>a:hover {
    border: 0;
}

.tabs-area .nav>li>a:hover,
.tabs-area .nav>li>a:focus {
    background-color: transparent;
    color: #ffa700;
}

.tabs-area .nav-tabs>li.active>a,
.tabs-area .nav-tabs>li.active>a:hover,
.tabs-area .nav-tabs>li.active>a:focus {
    background-color: #ffa700;
    border: none;
    color: #fff;
}

.tabs-area .tab-content>.tab-pane {
    background-color: #F5F5F5;
}



/* Owl Carousel */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffa700;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––>>> Preloader  <<<––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.loader-cube {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.loader-cube .loader-cube__item {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.loader-cube .loader-cube__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffa700;
    -webkit-animation: loaderAnim 2.4s infinite linear both;
    animation: loaderAnim 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.loader-cube .loader-cube__item2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.loader-cube .loader-cube__item3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.loader-cube .loader-cube__item4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.loader-cube .loader-cube__item2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader-cube .loader-cube__item3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader-cube .loader-cube__item4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes loaderAnim {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes loaderAnim {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––>>> Back to Top  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.back-top {
    z-index: 9999;
    position: fixed;
    right: 30px;
    bottom: -10px;
    opacity: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #353535;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 400ms linear 0ms;
    transition: all 400ms linear 0ms;
    background-color: rgba(255, 167, 0, 0.64);
    font-size: 30px;
}

.back-top:hover {
    background-color: rgba(255, 167, 0, 1);
}

.back-top.show {
    opacity: 1;
    bottom: 30px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––>>> Topbar Area  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.topbar {
    height: 50px;
    color: #eee;
}

.topbar .social-icons {
    text-align: center !important;
}

.topbar a {
    color: #ffa700;
}

.topbar .topbar-info {
    padding-top: 13px;
}

.topbar .social-icons {
    padding-top: 10px;
}

.topbar .social-icons .fa {
    text-align: center;
}

.topbar .social-icons>li {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––>>> Header  <<<–––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.main-header { 
    position: absolute;
    z-index: 9;
}

.main-header .header-contact {
    position: relative;
    padding-left: 50px;
    padding-top: 6px;
}

.main-header .header-brand {
    display: inline-block;
}

.main-header .header-contact .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 33px;
    margin: 12px 20px 0 0;
    color: #ffa700;
}

.main-header .header-content {
    padding: 20px 0 50px;
}

.header-menu {
    width: 100%;
    top: 100%;
    z-index: 10;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-menu>li>a,
.nav-menu-fixed>a {
    color: #231f20;
}

.nav-menu>li>ul a {
    color: #314555;
}

.nav-menu-fixed>a,
.nav-menu>li:hover>a,
.nav-menu>li.active>a {
    background-color: #ffa700;
}

.nav-menu-fixed>a:hover,
.nav-menu>li.active:hover>a {
    background-color: #e69800;
}

.nav-menu>li>ul a {
    color: #979797;
    background-color: #06121b;
}

.nav-menu>li>ul li:hover>a,
.nav-menu>li>ul li.active>a {
    color: #ffa700;
}

.nav-bar {
    position: relative;
}

.nav-header {
    position: relative;
    display: none;
}

.nav-menu>li a .indicator {
    margin-left: 10px;
}

.nav-menu>li>ul li a .indicator {
    position: absolute;
    top: 0;
    right: 15px;
}

.nav-toggle {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 60px;
    padding: 6px 5px 8px 20px;
    left: 0;
}

.nav-toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.nav-toggle i+i {
    margin-top: 8px;
}

.nav-menu {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    position: relative;
}

.nav-menu:before,
.nav-menu:after {
    content: "";
    display: table;
}

.nav-menu:after {
    clear: both;
}

.nav-menu.nav-menu-fixed {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-menu.nav-menu-fixed a {
    display: inline-block;
}

.nav-menu.nav-menu-fixed a .fa {
    font-size: 20px;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    margin-top: 8px;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu>li>ul,
.nav-menu>li>ul>li ul,
.nav-menu .mega-menu {
    background-color: #06121b;
    margin: 0;
    display: none;
    min-width: 200px;
    position: absolute;
    z-index: 99;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.nav-menu>li>ul {
    top: 100%;
    left: 0;
}

.nav-menu>li:last-child>ul {
    right: 0;
}

.nav-menu>li>ul>li ul {
    top: 0;
    left: 100%;
}

.nav-menu>li:last-child>ul>li ul {
    right: 100%;
}

.nav-menu .mega-menu {
    width: 100%;
    top: 100%;
    left: 0;
    padding: 15px 20px;
}

.nav-menu li {
    display: block;
    position: relative;
}

.nav-menu .dropdown-mega-menu {
    position: static;
}

.nav-menu>li {
    float: left;
}

.nav-menu a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    margin: 0;
    position: relative;
}

.nav-menu .mega-menu a {
    padding: 0;
}

.nav-menu>li>a,
.nav-menu>a {
    line-height: 40px;
    border-radius: 2px;
}

.nav-menu>li ul li a {
    height: 40px;
    line-height: 40px;
}

.nav-menu .mega-menu li a {
    height: 35px;
    line-height: 35px;
}

.nav-menu .mega-menu .mega-title {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
}

/* .page-wrapper   div.header-slogen-sec h3 i {
    font-family: "rage-italic";
    font-size: 32px;
    color: #ffffff;
    text-align: right;
    text-transform: capitalize;
    padding: 0;
} */
.page-wrapper div.header-slogen-sec h3 i {
    font-family: "rage-italic";
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    padding-top: 15px;
    display: block;
}
@media only screen and (max-width: 1025px) {
    .nav-menu li {
        width: 100%;
        float: none;
        border-bottom: 1px solid #eee;
    }
}

@media only screen and (max-width: 991px) {
    .nav-menu {
        background-color: #fff;
    }
    .nav-menu li>a,
    .nav-menu li.active a {
        color: #314555;
        background-color: #fff;
    }
    .nav-menu li:hover>a,
    .nav-menu li.active-mobile>a {
        color: #ffa700;
        background-color: #f1f1f1;
    }
    .nav-menu li.active:hover>a {
        color: #fff;
    }
    .nav-header {
        display: block;
    }
    .nav-collapse {
        display: none;
        padding: 0 10px 10px 10px;
    }
    .nav-header,
    .nav-menu.nav-menu-fixed a {
        height: 60px;
        line-height: 60px;
    }
    .nav-menu>li a .indicator {
        position: absolute;
        top: 0;
        right: 20px;
    }
    .nav-menu ul {
        padding-left: 20px;
    }
    .nav-menu .mega-menu,
    .nav-menu>li>ul,
    .nav-menu>li>ul>li ul {
        background-color: #fff;
        width: 100%;
        position: static;
        padding-left: 0;
    }
    .nav-menu .mega-menu {
        padding: 0 20px;
    }
    .nav-menu li {
        width: 100%;
        float: none;
        border-bottom: 1px solid #eee;
    }
    .nav-menu li:last-child {
        border-bottom: 0;
    }
    .nav-menu>li>a {
        height: 40px;
        line-height: 40px;
    }
    .nav-menu>li ul li a {
        height: 40px;
        line-height: 40px;
    }
    .nav-menu>li>ul a {
        color: #314555;
        background-color: #fff;
    }
    .nav-menu>li>ul li:hover>a,
    .nav-menu>li>ul li.active>a {
        background-color: #fff;
    }
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––>>> Hero Area  <<<––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.hero-content {
    position: relative;
    padding: 100px 0;
    color: #fff;
}

.hero-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
    z-index: 2;
}

.hero-content .container {
    position: relative;
    height: 100%;
    z-index: 3;
}

.hero-content h1 {
    opacity: 0.9;
}

.hero-content h4 {
    opacity: 0.8;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> About Us Area  <<<––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.about-us-area .about-us-box figure {
    position: relative;
    overflow: hidden;
}

.about-us-box .link-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 191, 0, .75);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.about-us-box .link-overlay:hover {
    opacity: 1;
}

.about-us-box .link-overlay i {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 18px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
}

.about-us-area .video-about .video-wrapper {
    display: block;
    position: relative;
    z-index: -1;
}

.about-us-area .video-about .video-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.about-us-area .video-about .play-btn {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .5);
    background-image: url(../images/icons/play.png);
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.about-us-area .quote-author img {
    width: 72px;
    border-radius: 50%;
}
.about-us-box p {
    text-align: justify;
    font-weight: 400 !important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Timeline Area  <<<––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-area {
    background-color: #f0f4f7;
}

.timeline {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 18px;
    height: 100%;
    width: 4px;
    border-radius: 4px;
    background: rgb(215, 228, 237);
    left: 50%;
    margin-left: -2px;
}

.timeline-block {
    position: relative;
}

.timeline-block:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #ffa700;
    top: 20px;
    right: 50%;
    margin-right: -6px;
    -webkit-box-shadow: 0 0 0 5px rgb(255, 167, 0.4);
    box-shadow: 0 0 0 5px rgba(255, 167, 0, 0.4);
}

.timeline-block:nth-child(odd) .timeline-block-wrapper {
    padding-right: 30px;
}

.timeline-block:nth-child(even) .timeline-block-wrapper {
    padding-left: 30px;
}

.timeline-block .timeline-content {
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
}

.timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    height: 0px;
    width: 0px;
    border-width: 7px;
    border-style: solid;
}

.timeline-block:nth-child(odd) .timeline-content::before {
    border-color: transparent transparent transparent white;
    left: 100%;
}

.timeline-block:nth-child(even) .timeline-content::before {
    border-color: transparent white transparent transparent;
    right: 100%;
}

.timeline-date {
    position: absolute;
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    font-weight: bold;
    border-radius: 3px;
    top: 10px;
}

.timeline-block:nth-child(odd) .timeline-date {
    left: 50%;
    margin-left: 20px;
}

.timeline-block:nth-child(even) .timeline-date {
    right: 50%;
    margin-right: 20px;
}

.timeline-date::before {
    content: "";
    position: absolute;
    top: 10px;
    height: 0px;
    width: 0px;
    border-width: 5px;
    border-style: solid;
}

.timeline-block:nth-child(odd) .timeline-date::before {
    border-color: transparent rgba(0, 0, 0, .4) transparent transparent;
    right: 100%;
}

.timeline-block:nth-child(even) .timeline-date::before {
    border-color: transparent transparent transparent rgba(0, 0, 0, .4);
    left: 100%;
}

@media only screen and (max-width: 991px) {
    .timeline {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .timeline:before {
        left: 8px;
        margin-left: -2px;
    }
    .timeline-block:before {
        right: auto;
        left: 0;
        margin-right: 0;
    }
    .timeline-block:nth-child(odd) .timeline-block-wrapper {
        padding-right: 0;
        padding-left: 30px;
    }
    .timeline-block .timeline-content {
        padding: 55px 20px 15px 20px;
    }
    .timeline-block:nth-child(odd) .timeline-content::before {
        border-color: transparent white transparent transparent;
        left: auto;
        right: 100%;
    }
    .timeline-date {
        font-size: 12px;
        background-color: #2ed87b;
        padding: 2px 10px;
        right: auto;
        top: 20px;
    }
    .timeline-block:nth-child(odd) .timeline-date,
    .timeline-block:nth-child(even) .timeline-date {
        right: auto;
        left: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .timeline-date::before {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Features Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.features-area .feature-single {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.features-area-1 .feature-single {
    padding-left: 90px;
}

.features-area-2 .feature-single {
    text-align: center;
}

.features-area .feature-icon i {
    display: inline-block;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.features-area-1 .feature-icon i {
    height: 70px;
    width: 70px;
    line-height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #ffa700;
    border-radius: 100%;
    -webkit-box-shadow: 0 0px 0px 1px #ffa700 inset;
    box-shadow: 0 0px 0px 1px #ffa700 inset;
}

.features-area-2 .feature-icon i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 0px 46px #ffa700 inset;
    box-shadow: 0 0px 0px 46px #ffa700 inset;
    color: #fff;
}

.features-area-1 .feature-single:hover .feature-icon i {
    -webkit-box-shadow: 0 0px 0px 46px #ffa700 inset;
    box-shadow: 0 0px 0px 46px #ffa700 inset;
    color: #fff;
}

.features-area-2 .feature-single:hover .feature-icon i {
    color: #ffa700;
    -webkit-box-shadow: 0 0px 0px 1px #ffa700 inset;
    box-shadow: 0 0px 0px 1px #ffa700 inset;
}

.why-us-area .feature-icon {
    position: absolute;
    width: 70px;
    left: 0;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #ffa700;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-us-area .feature-single:hover .feature-icon {
    background-color: #ffa700;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.feature-icon .effect_img1,
.feature-icon .effect_img2 {
    position: absolute;
    width: 60%;
    height: 60%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.feature-icon .effect_img1 {
    left: 20%;
    top: -100%;
}

.feature-icon .effect_img2 {
    left: 20%;
    top: 20%;
}

.why-us-area .feature-single:hover .feature-icon .effect_img2 {
    top: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-us-area .feature-single:hover .feature-icon .effect_img1 {
    top: 20%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-us-area .feature-icon img {
    margin: 0 auto;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Services Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.services-area {
    position: relative;
    z-index: 1;
}

.services-area .service-single {
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #e9e9e9;
    margin-bottom: 30px;
    position: relative;
}

.services-area .service-single:after {
    border-bottom: 2px solid #ffa700;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.services-area .service-single:hover:after {
    width: 100%;
}

.services-area .service-single .service-content {
    padding: 20px;
}

.services-area .services-slider .owl-item:not(:last-child) .item {
    margin-right: 25px;
}

.services-area-3:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, .7);
    z-index: -1;
}

.services-area-3 h3 {
    color: #fff;
}

.services-area-3 .service-single {
    background-color: #fff;
    border: none;
}

.services-area-3 .service-single:after {
    display: none;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Overview Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.overview-area .overview-right {
    position: relative;
    padding-left: 20px;
    border-left: 4px solid #ffa700;
}

.overview-area .overview-left h3,
.overview-area .overview-left h4 {
    line-height: 1.8;
}

@media screen and (max-width: 767px) {
    .overview-area .overview-right {
        padding-left: 0;
        border-left: 0 none;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Fact Counter Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.fact-counter-area {
    position: relative;
    color: #fff;
}

.fact-counter-area:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 167, 0, 0.9);
}

.fact-counter-area .counter-wrapper {
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    padding-left: 90px;
}

.fact-counter-area .counter-icon {
    position: absolute;
    font-size: 40px;
    top: 10px;
    left: 0;
    width: 70px;
    height: 70px;
    line-height: 64px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center;
}

.fact-counter-area .line {
    background-color: #fff;
    opacity: .5;
    margin: 10px 0;
    width: 50px;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Our Team Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.team-area .single-member {
    margin: 0 auto 30px;
}

.team-area-1 .single-member,
.team-area-3 .single-member {
    background-color: #fff;
}

.team-area-3 .single-member {
    text-align: center;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.team-area-3 .single-member .single-member-pic {
    background-color: #efefef;
}

.single-member .single-member-content {
    padding: 20px;
}

.single-member .single-member-header {
    position: relative;
    text-align: center;
}

.single-member .single-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.68);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.single-member:hover .single-member-overlay {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.single-member .social-icons__item .fa {
    background-color: #ffa700;
}

.team-area-2 .single-member {
    background: #f1f1f1;
    text-align: center;
}

.team-area-2 .single-member-name {
    background: #ffa700;
    padding: 8px 0;
    width: 680px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.team-area-2 .single-member-info table {
    width: 100%;
    text-align: left;
}

.team-area-2 .single-member-info table tr {
    border-bottom: 1px solid #ddd;
}

.team-area-2 .single-member-info table tr:last-child {
    border-bottom: 0;
}

.team-area-2 .single-member-info table td {
    padding: 10px 0;
    color: #777;
}

.team-area-2 .single-member-info table td span {
    color: #444;
}

.team-area-3 .social-icons .social-icons__item .fa {
    background-color: #f1f1f1;
    color: #ffa700;
    border-radius: 50%;
}

.team-area-4 .member-column {
    z-index: 0;
    position: relative;
    background: #FFF;
    -webkit-box-shadow: 0 0 0 1px #E2E9ED;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team-area-4 .member-column:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.team-area-4 .member-column:hover {
    z-index: 1;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.team-area-4 .single-member {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

.team-area-4 .single-member-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}

.team-area-4 .single-member-avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.team-area-4 .single-member-social {
    margin: 0 0 -15px;
    opacity: 0;
    -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
    transition: margin 0.2s ease, opacity 0.2s ease;
}

.team-area-4 .member-column:hover .single-member-social {
    margin: 15px 0 -8px;
    opacity: 1;
}

.team-area-4 .social-item a {
    display: inline-block;
    color: #515F65;
    display: block;
    font-size: 15px;
    width: 34px;
    height: 34px;
    line-height: 32px;
    background-color: #f1f1f1;
    border-radius: 50%;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.team-area-4 .social-item a:hover {
    color: #ffa700;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Testimonials Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.brands-area .client {
    background-color: #f6f6f7;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    line-height: 110px;
    text-align: center;
}

.testimonials-area .testimonial-panel {
    position: relative;
    padding: 25px 20px;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
}

.testimonials-area .testimonial-panel:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: #ffa700;
}

.testimonials-area-1 .testimonial-panel:before {
    -webkit-animation-name: slider_progress;
    animation-name: slider_progress;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.testimonials-area-1 .testimonial-body {
    padding-left: 50px;
}

.testimonial-panel .testimonial-icon {
    position: absolute;
    font-size: 24px;
    color: #ccc;
}

.testimonials-area .testimonial-meta {
    position: relative;
    padding-left: 80px;
    padding-bottom: 20px;
}

.testimonial-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #fff;
}

.testimonial-img img {
    border-radius: 50%;
}

.testimonials-area-1 .owl-dots {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

@-webkit-keyframes slider_progress {
    0% {
        width: 0%;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slider_progress {
    0% {
        width: 0%;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

.testimonials-area-3 {
    position: relative;
    z-index: 1;
}

.testimonials-area-3:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -1;
}

.testimonial-slider .item {
    padding-right: 15px;
    padding-left: 15px;
    color: #FFF;
    text-align: center;
}

.testimonial-slider .testimonial-thumb {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
}

.testimonial-slider .testimonial-thumb img {
    border-radius: 999px;
}

.testimonial-slider .testimonial-info {
    position: relative;
    color: #fff;
    margin: 20px 0px 0px 0px;
    line-height: 30px;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.testimonial-slider .testimonial-info::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: -40px;
    margin-left: -10px;
    border-style: solid;
    border-width: 20px 10px 20px 10px;
    border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
}

.testimonial-slider .testimonial-info .testimonial-text {
    position: relative;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.5px;
}

.testimonial-slider .testimonial-info .testimonial-text::first-letter {
    margin-left: 30px;
}

.testimonial-slider .testimonial-info .testimonial-text::after {
    content: "\f10d";
    font: normal normal normal 18px/1 FontAwesome;
    font-style: italic;
    position: absolute;
    left: 6px;
    top: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.testimonial-slider .testimonial-info .client-designation {
    color: rgba(255, 255, 255, 0.9);
}

.testimonials-area-4 {
    position: relative;
}

.testimonials-area-4:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .3;
}

.testimonials-area-4 .testimonial-list {
    margin-top: 30px;
}

.testimonials-area-4 .testimonial-section-inner {
    display: block;
    vertical-align: middle;
}

.testimonials-area-4 .testimonial-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.testimonials-area-4 .testimonial-author {
    margin: 0 auto 30px;
    width: 100px;
}

.testimonials-area-4 .testimonial-author img {
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    height: auto;
    width: 100px;
}

.testimonials-area-4 .single-testimonial p {
    padding: 0 15px;
    color: #eee;
    font-size: 14px;
}

.testimonials-area-4 .single-testimonial>h5 {
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
}

.testimonials-area-4 .single-testimonial h6 {
    margin-top: 10px;
    color: #00BCD4;
    text-transform: uppercase;
}

.testimonials-area-4 .owl-dots {
    padding-top: 30px;
}

.testimonials-area-4 .testimonial-list .owl-dots .owl-dot.active span,
.testimonials-area-4 .testimonial-list .owl-dots .owl-dot:hover span {
    background: #ffffff;
}

.testimonials-area-5 .testimonial-content {
    position: relative;
    margin-bottom: 30px;
}

.testimonials-area-5 .testimonial-content::first-letter {
    margin-left: 30px;
}

.testimonials-area-5 .testimonial-content::after {
    content: "\f10d";
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    left: 0px;
    top: 2px;
    color: #ffa700;
}

.testimonials-area-5 .testimonial-panel {
    background-color: #eef0fd;
}

.testimonials-area-5 .testimonial-img {
    background-color: transparent;
}

.testimonials-area-1 .testimonial-img img,
.testimonials-area-5 .testimonial-img img {
    border: 3px solid #fff;
    -webkit-box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.40);
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.40);
    border-radius: 50%;
}

.testimonials-area-5 .testimonial-meta {
    padding-bottom: 10px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Latest News Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.latest-news-area .entry-details {
    margin-bottom: 25px;
    position: relative;
}

.entry-details .entry-content {
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .01)), color-stop(13%, rgba(0, 0, 0, .13)), color-stop(44%, rgba(0, 0, 0, .49)), color-stop(58%, rgba(0, 0, 0, .6)), color-stop(99%, rgba(0, 0, 0, .64)), to(rgba(0, 0, 0, .57)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .13) 13%, rgba(0, 0, 0, .49) 44%, rgba(0, 0, 0, .6) 58%, rgba(0, 0, 0, .64) 99%, rgba(0, 0, 0, .57) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05000000', endColorstr='#91000000', GradientType=0);
}

.entry-details .entry-content a {
    color: #fff;
}

.entry-details .entry-content a:hover {
    color: #ffa700;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––>>> Contact Us Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.contact-us-area .contact-box {
    background-color: #f0f4f7;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 0px 0px #e8ecec;
    box-shadow: 0 2px 0px 0px #e8ecec;
    border-radius: 5px;
}

.contact-us-area .contact-icon i {
    display: inline-block;
    font-size: 35px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffa700;
    border-radius: 100%;
    -webkit-box-shadow: 0 0px 0px 2px #ffa700 inset;
    box-shadow: 0 0px 0px 2px #ffa700 inset;
    margin-bottom: 20px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.contact-us-area .contact-box:hover .contact-icon i {
    -webkit-box-shadow: 0 0px 0px 46px #ffa700 inset;
    box-shadow: 0 0px 0px 46px #ffa700 inset;
    color: #fff;
}

.gmap {
    position: relative;
}

.gmap>iframe {
    height: 440px !important;
}

.gmap>.embed-responsive-item {
    height: 100% !important;
}

.gmap.locked>iframe {
    pointer-events: none;
}

.gmap .gmap-lock {
    position: absolute;
    background-color: #fff;
    border: 2px solid #fff;
    color: #666666;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    right: 10px;
    bottom: 92px;
    width: 28px;
    height: 28px;
    line-height: 24px;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

.gmap.locked .gmap-lock {
    color: #4285f4;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––>>> Contact Details Area  <<<––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.contact-details-area {
    background-color: #ffa700;
    color: #f1f1f1;
}

.contact-details-item {
    position: relative;
    text-align: left;
    display: block;
    line-height: 22px;
    padding: 30px 0 26px 58px;
    text-align: left;
}

.contact-details-item h5 {
    color: #fff;
    margin: 0 0 2px;
}

.contact-details-item .lnr {
    position: absolute;
    font-size: 42px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -6px;
    margin-top: -2px;
}

@media (max-width: 992px) {
    .contact-details-item {
        font-size: 12px;
    }
    .contact-details-item h5 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .contact-details-area {
        padding: 10px 0;
    }
}

.contact-us-area .form-control.input-error {
    border-color: #c00;
}

.contact-us-area .contact-response {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
}

.contact-us-area .contact-response.text-error {
    color: #c00;
}

.contact-us-area .contact-response.text-valid {
    color: #38a569;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Subscribe Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.subscribe-area {
    position: relative;
}

.subscribe-form {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 46px;
    padding: 0 160px 0 10px;
    border-radius: 999px;
}

.subscribe-form .form-control {
    border: 0;
}

.subscribe-form .btn {
    position: absolute;
    right: 3px;
    top: 3px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––>>> Breadcrumb Area  <<<––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.breadcrumb-area {
    position: relative;
    z-index: 1;
    color: #fff;
}

.breadcrumb-area::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: -1;
    opacity: 0.3;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––>>> Our Skills Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.our-skills-area h3 {
    position: relative;
}

.our-skills-area h3:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffa700;
}

.skills-list li:not(:last-child) {
    margin-bottom: 30px;
}

.skills-list .skill-progress {
    display: block;
    width: 100%;
    height: 5px;
    position: relative;
    background-color: #dfdfdf;
}

.skills-list li:last-child .skill-progress {
    margin-bottom: 0;
}

.skills-list .skill-percentage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #ffa700;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.skills-list .skill-percentage span {
    position: absolute;
    opacity: 0;
    right: -18px;
    bottom: 12px;
    width: 42px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

.skills-list .skill-percentage span:after {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-width: 6px 4px 0 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .5) transparent transparent transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -4px;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––>>> About Company Area  <<<–––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.about-company-area .column {
    padding: 30px 20px 30px 80px;
    background-color: #f1f1f1;
    position: relative;
}

.about-company-area .column .icon {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 50px;
    color: #ffa700;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––>>> Portfolio Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.portfolio-area {
    text-align: center;
}

.portfolio-area-2 {
    background-color: #2f2f2f;
    text-align: left;
}

.portfolio-area .portfolio-filter {
    padding: 0 0 40px;
}

.portfolio-area .portfolio-filter>div {
    display: inline-block;
    margin: 0 -3px;
}

.portfolio-area .portfolio-filter .filter {
    display: block;
    position: relative;
    margin: 0;
    padding: 12px 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
    text-align: center;
    color: #555;
    background-color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.portfolio-area .portfolio-filter .filter:after {
    content: '';
    display: block;
    position: absolute;
    width: 1%;
    height: 0;
    border: 1px solid transparent;
    bottom: -1px;
    left: 50%;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.portfolio-area .portfolio-filter .filter.active:after,
.portfolio-area .portfolio-filter .filter:hover:after {
    opacity: 1;
    width: 80%;
    left: 10%;
    border-color: #ff9900;
}

.portfolio-area .mix {
    display: none;
}

.portfolio-area .portfolio-single {
    position: relative;
    color: #fff;
    padding: 0;
}

.portfolio-single .portfolio-hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 181, 4, 0.9);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.portfolio-area-4 .portfolio-single .portfolio-hover {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-single:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-single .inner-hover {
    text-align: center;
}

.portfolio-single .portfolio-icon {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.portfolio-single .portfolio-icon:last-child {
    margin-right: 0;
}

.portfolio-single a {
    color: #fff;
}

.portfolio-single a:hover {
    color: #ff9900;
}

.portfolio-single h4 {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.portfolio-single:hover h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.portfolio-icons {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.portfolio-single:hover .portfolio-icons {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.portfolio-area-1 .inner-hover {
    text-align: left;
}

.portfolio-area-1 .inner-hover h2 {
    position: relative;
}

.portfolio-area-1 .inner-hover h2:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffa700;
}

.portfolio-area-1 .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    opacity: 0;
    text-align: left;
}

.portfolio-area-1 .portfolio-single:hover .portfolio-hover {
    opacity: 1;
}

.portfolio-area-1 .portfolio-hover .inner-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

.portfolio-area-2 .portfolio-slider .item {
    padding-right: 30px;
}

.portfolio-area-2 .owl-item:last-child .item {
    padding-right: 0;
}

.industry-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 15px;
    text-align: left;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.industry-title:after {
    content: '';
    position: relative;
    width: 30px;
    height: 2px;
    background: #ffa700;
    display: block;
    margin: 4px 0 6px;
}

.portfolio-single:hover .industry-title {
    padding-bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––>>> Project Details Area  <<<––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.project-details-area .info-list {
    font-size: 14px;
}

.info-list li {
    padding: 6px 10px;
    position: relative;
}

.info-list li span {
    color: #333;
    position: relative;
    padding-left: 20px;
}

.info-list li span:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    background-color: #ffa700;
    position: absolute;
    top: 4px;
    left: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––––>>> Blog Page  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.recent-posts .recent-post .post-meta {
    font-size: 12px;
    color: #717f86;
}

.recent-posts .recent-post .media-left img {
    width: 80px;
    height: 80px;
}

.blog-area .entry-media {
    position: relative;
}

.blog-area .entry-summary {
    color: #717f86;
}

.blog-area .entry-meta {
    color: #ffa700;
}

.blog-area .entry .entry-info {
    color: #b5b5b5;
}

.blog-classic .entry-date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    background-color: #ffa700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
}

.blog-list .entry {
    border: 1px solid #ddd;
}

.blog-list.latest-news .entry {
    border: 0;
}

.blog-list.latest-news .entry-meta {
    color: #999;
}

.blog-grid .entry {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .26);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .26);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.blog-grid .entry:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .15);
}

.blog-grid .entry .entry-media {
    position: relative;
    overflow: hidden;
}

.blog-grid .entry .entry-media img {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-grid .entry:hover .entry-media img {
    -webkit-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
}

.blog-grid .entry .entry-media-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 167, 0, 0.7);
    text-align: center;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog-grid .entry:hover .entry-media-overlay {
    opacity: 1;
}

.blog-grid .entry .entry-date {
    background: #ffa700;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    height: 54px;
    width: 54px;
    line-height: 20px;
    outline: 1px dashed #fff !important;
    outline-offset: -3px !important;
    padding: 5px;
    text-align: center;
}

.blog-grid .entry .entry-date .month {
    font-size: 15px;
    line-height: 24px;
    display: block;
}

.blog-grid .entry-media-overlay .link {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    border: solid 2px #f1f1f1;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 999px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(130px);
    transform: translateY(130px);
}

.blog-grid .entry-media-overlay .link:hover {
    background-color: rgba(255, 255, 255, .3);
}

.blog-grid .entry:hover .entry-media-overlay .link {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.blog-grid .entry-info,
.latest-news-area .entry-list-item .entry-info {
    padding: 5px 2px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.blog-grid .entry .entry-content {
    padding: 20px;
}

.blog-grid .entry .entry-title {
    margin-bottom: 10px;
}

.blog-grid .entry .entry-read {
    padding: 10px 0;
}

.blog-single .post-author {
    padding-left: 160px;
}

.blog-single .post-author .post-author-img {
    width: 140px;
}

.entry-next-pre {
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    margin-bottom: 50px;
    padding: 15px 0;
}

.entry-next-pre-left {
    line-height: 1;
}

.entry-next-pre-left .prev-link {
    border-right: 1px solid #d5d5d5;
}

.entry-next-pre-right {
    line-height: 1;
    text-align: right;
}

.entry-social-share li {
    margin-right: 6px;
}

.entry-social-share li a i {
    font-size: 14px;
    color: #a5a9b2;
}

.entry-social-share a i:hover {
    color: #414653;
}

.blog-quote-section {
    font-size: 16px;
    background-color: #ffa700;
    border-left: 0;
    padding: 60px 80px;
    position: relative;
    margin: 0;
}

.blog-grid .blog-quote-section {
    font-size: 15px;
    padding: 20px 10px 20px 30px;
}

.blog-quote-section:before,
.blog-quote-section:after {
    font-family: "FontAwesome";
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    position: absolute;
}

.blog-grid .blog-quote-section:before,
.blog-grid .blog-quote-section:after {
    font-size: 20px;
}

.blog-quote-section:before {
    content: '\f10d';
    left: 30px;
    top: 20px;
}

.blog-quote-section:after {
    content: '\f10e';
    bottom: 15px;
    right: 45px;
}

.blog-grid .blog-quote-section:before {
    left: 29px;
    top: 17px;
}

.blog-grid .blog-quote-section:after {
    display: none;
}

.blog-quote-section p {
    color: #fff;
}

.blog-grid .blog-quote-section p {
    text-indent: 30px;
}

.comment {
    position: relative;
    padding-left: 90px;
    padding-bottom: 30px;
}

.comment:last-child {
    padding-bottom: 0;
}

.comment-replys {
    padding-top: 30px;
}

.comment-content {
    position: relative;
}

.comment-avatar {
    position: absolute;
    width: 70px;
    top: 0;
    left: 0;
    z-index: 1;
}

.comment-avatar:after {
    display: block;
    content: "";
    position: absolute;
    background-color: #ffa700;
    height: 2px;
    width: 20px;
    top: 34px;
    left: 70px;
    z-index: -1;
}

.comment-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    border: solid 2px #ffa700;
}

.comment-content {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 2px;
    padding: 20px;
    border-left: solid 2px #ffa700;
}

.comment-meta {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 30px;
}

.comment-meta a {
    color: #999;
}

.sidebar-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d3d3d3;
}

.sidebar-list li a {
    display: block;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
}

.sidebar-list li a:after {
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    left: 2px;
    top: 3px;
}

.sidebar-menu li+li {
    border-top: 1px solid #eee;
}

.sidebar-menu li a {
    display: block;
    font-weight: 300;
    position: relative;
    padding: 12px;
}

.sidebar-menu li a.active {
    background-color: #ffa700;
    color: #fff;
}

.sidebar-menu li a:after {
    content: "\f105";
    font-family: "FontAwesome";
    line-height: 17px;
    position: absolute;
    right: 12px;
    top: 15px;
}

.tags-list a {
    display: inline-block;
    background-color: #fff;
    color: #999;
    border: 1px solid #ddd;
    padding: 4px 10px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.tags-list a:hover {
    background-color: #ffa700;
    color: #fff;
    border: 1px solid #ffa700;
}

.product-widget .product-thumb {
    height: 80px;
    width: 80px;
    max-width: none;
    margin-right: 5px;
    border: 1px solid #eee;
}

.product-widget .rating .fa {
    color: #bbb;
}

.product-tabs .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 25px;
}

.review-wrapper {
    border: 2px solid #e5ecf4;
    background-color: #fbfbfb;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    overflow: visible;
}

.review-wrapper:before,
.review-wrapper:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 10;
}

.review-date {
    font-size: 13px;
    color: #9e9e9e;
    margin-top: 5px;
}

.review-avatar img {
    width: 80px;
    border-radius: 4px;
}

.search-form .field-search {
    position: relative;
}

.search-form .field-search input {
    padding-right: 20px;
}

.search-form .field-search .btn-search {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #aaa;
}

.product-widget .product-thumb {
    height: 80px;
    width: 80px;
    max-width: none;
    margin-right: 5px;
    border: 1px solid #eee;
}

.product-widget .rating .fa {
    color: #bbb;
}

.product-tabs .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 25px;
}

.review-wrapper {
    border: 2px solid #e5ecf4;
    background-color: #fbfbfb;
    border-radius: 4px;
    padding: 10px 20px;
    position: relative;
    overflow: visible;
}

.review-wrapper:before,
.review-wrapper:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 10;
}

.review-date {
    font-size: 13px;
    color: #9e9e9e;
    margin-top: 5px;
}

.review-avatar img {
    width: 80px;
    border-radius: 4px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––>>> 404 Page  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.not-found-content h1 {
    color: #faaa1d;
    font-size: 200px;
    font-weight: 700;
    margin: 0 0 7px;
    text-shadow: 8px 8px 19px rgba(0, 0, 0, 0.5);
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––>>> Services Video Area  <<<––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.services-video-area {
    position: relative;
    color: #fff;
}

.services-video-area h2>span {
    color: #ffa700;
}

.services-video-area:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 0;
}

.video-play-icon {
    position: relative;
    opacity: 0.8;
}

.video-play-icon .video-link {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url(../images/icons/play.png);
    background-size: cover;
    background-position: center;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––––>>> Shop Area  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.products .product-item {
    margin-bottom: 40px;
}

.products .product-item img {
    border: 1px solid #eee;
}

.products .product-item .product-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    opacity: 0;
    text-align: left;
    color: #fff;
}

.products .product-item:hover .product-hover {
    opacity: 1;
}

.products .product-item .product-content {
    position: relative;
    padding: 8px 5px 0;
}

.products .product-item .product-content .price {
    color: #ffa700;
}

.products .product-item .add-cart {
    position: absolute;
    right: 5px;
    top: 15px;
}

.products .product-item .add-cart i {
    font-size: 16px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ccc;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.products .product-item .add-cart i:hover {
    border: 2px solid #ffa700;
    color: #ffa700;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––>>> Cart Page  <<<––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.cart-area .table-bordered>thead>tr>th,
.cart-area .table-bordered>tbody>tr>th,
.cart-area .table-bordered>tfoot>tr>th,
.cart-area .table-bordered>thead>tr>td,
.cart-area .table-bordered>tbody>tr>td,
.cart-area .table-bordered>tfoot>tr>td {
    border-color: #eee;
}

.cart-list {
    width: 100%;
    text-align: center;
}

.cart-list thead {
    background: #f9f9f9;
}

.cart-list thead>tr>th {
    padding: 15px;
    border-bottom-width: 1px;
    text-align: center;
}

.cart-list thead th:nth-child(1) {
    width: 50%;
}

.cart-list thead th:first-child,
.cart-list tbody td:first-child {
    text-align: left;
}

.cart-list thead th:nth-child(2),
.cart-list thead th:nth-child(3),
.cart-list thead th:nth-child(4) {
    width: 15%;
}

.cart-list thead th:nth-child(5) {
    width: 5%;
}

.cart-list tbody tr:last-child {
    border-bottom: 0;
}

.cart-list tbody tr td {
    padding: 15px;
    vertical-align: middle;
    color: #555;
}

.cart-list .product-thumb {
    width: 120px;
    margin-right: 10px;
}

.cart-list .media-body .type span {
    color: #222;
}

.cart-list .quantity-label {
    width: 45px;
    border: 0;
    background: transparent;
    outline: none !important;
}

.cart-list .sub-total {
    color: #ffa700;
}

.cart-list i.fa-trash-o {
    font-size: 18px;
    color: #F00;
}

.cart-list tbody tr td .close {
    float: none;
    opacity: 1;
}

.cart-total .table>tbody>tr>td {
    padding: 15px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––>>> Pricing Tables Area  <<<–––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.pricing-area .plan {
    text-align: center;
    border: 1px solid #ffa700;
    color: #444;
}

.pricing-area .recommended {
    border-color: #314555;
}

.pricing-area .plan .plan-head {
    padding-bottom: 10px;
}

.pricing-area .plan .plan-head>h2 {
    height: 60px;
    line-height: 60px;
    background-color: #ffa700;
    color: #fff;
    margin-bottom: 10px;
}

.pricing-area .plan.recommended .plan-head>h2 {
    background-color: #314555;
}

.pricing-area .plan .plan-head>h3 {
    font-size: 40px;
    font-weight: 500;
    color: #678080;
}

.pricing-area .plan .plan-head>h3>sup {
    font-size: 23px;
}

.pricing-area .plan .plan-head>p {
    color: #afafaf;
    text-transform: uppercase;
}

.pricing-area ul {
    border-top: 1px dashed #e7e7e7;
    border-bottom: 1px dashed #e7e7e7;
}

.pricing-area ul li {
    padding: 10px;
}

.pricing-area ul li:nth-child(odd) {
    background-color: #F2F7FA;
}

.pricing-area ul li:nth-child(even) {
    background-color: #fff;
}

.pricing-area .plan .plan-footer {
    padding: 30px 0;
    text-align: center;
}

.pricing-area .plan.recommended .plan-footer .btn {
    background-color: #314555;
    border-color: #314555;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––––>>> Faqs Area  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.faqs-area-1 .question-form textarea {
    height: 136px;
}

.faqs-area-2 .question {
    padding: 30px;
    overflow: hidden;
    border-radius: 4px;
}

.faqs-area-2 .question .fa {
    margin-right: 0 10px 0 0;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    height: 28px;
    width: 28px;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––>>> What Wo Do Area  <<<–––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.what-we-do-area .services {
    border: 1px solid #eee;
    overflow: hidden;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––>>> Company Video Area  <<<–––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.company-video-area {
    padding: 0;
    position: relative;
}

.company-video-area .row>[class^="col"] {
    padding-right: 30px;
    position: relative;
}

.company-video-area .col-video {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 380px;
    background-color: inherit;
    background-position: center top;
    background-size: cover;
}

.company-video-area .col-video:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.company-video-area .col-video .play {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .5);
    background-image: url(../images/icons/play.png);
    background-size: cover;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––>>> Comming Soon Page  <<<––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.coming-soon-page {
    position: relative;
    z-index: 1;
}

.coming-soon-page .overlay {
    background-color: #000;
    z-index: -1;
}

.coming-soon-page .countdwon-list li {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.coming-soon-page .countdwon-list li+li {
    margin-left: 10px;
}

.coming-soon-page .countdwon-list li h1 {
    line-height: 1;
    margin-bottom: 10px;
    width: 104px;
    text-align: center;
}

.coming-soon-page .coming-title {
    font-size: 55px;
}

.coming-soon-page .subscribe-form {
    max-width: 500px;
    margin: auto;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */


/* –––––––––––––>>> Footer Area  <<<–––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––– */

.main-footer {
    background-color: #062433;
    color: #eee;
    margin-top: 20px;
    background-image: url('../images/mozaic2.png');
}

.main-footer h2 {
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}
/* 
.main-footer h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #ffa700;
} */

.main-footer .sub-footer {
    background-color: rgba(3, 7, 16, 0.5);
    padding: 25px 0;
}

.main-footer .sub-footer .copyright {
    margin: 0;
    /* text-align: center; */
    font-family: calibri;
    font-size: 16px;
}

.main-footer .footer-widgets .widget .social-icons__item .fa {
    background-color: rgba(255, 255, 255, 0.32);
}

.main-footer .footer-widgets .widget.get-in-touch h6 {
    color: #f1f1f1;
    margin-bottom: 0px;
}

.main-footer .footer-widgets .widget.get-in-touch h6 span {
    color: #ffa700;
    margin-right: 5px;
}

.main-footer .footer-widgets .widget.get-in-touch h6.first-par {
    margin-bottom: 10px;
}

.main-footer .instagram-widget img {
    width: 100%;
}

.main-footer .recent-posts a {
    color: #eee;
}

.main-footer .recent-posts .media-object {
    width: 79px;
}

.contact-us-area .container .row .who-we-are ul li:first-child strong {
    font-size: 24px;
    color: #022299;
    line-height: 28px;
    display: block;
    width: 100%;
}

.contact-us-area .container .row .who-we-are ul li:first-child {
    line-height: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffa700;
    margin-bottom: 16px;
}
section#about-us {
    padding: 20px 0 60px !important;
}
.about-us-area .metaslider  div#metaslider_container_74 {
    margin-top: 60px;
    margin-bottom: 0;
}
.topbar a {
    color: #fff;
    font-size: 15px;
}
.topbar a:hover{
    color: #ffa700;
}
.mailid i {
    margin-right: 5px;
    font-size: 15px;
}

/*You can add your own CSS here. Click the help icon above to learn more.*/

    /*======================================Custom Css for the design of the site======================================*/

    /*for the layout*/

    .page-wrapper .main-content { background: #fff none repeat scroll 0 0; float: left; width: 100%; }
    
    
        /*for the top bar*/
    
    
        .page-wrapper .top-bar { background: #000000 none repeat scroll 0 0; float: left; width: 100%; padding:10px 0; }
        .page-wrapper .top-bar .row { float: left; margin: 0; width: 100%; }
    
        .page-wrapper .top-bar .row .topbar-info { float: left; width: 100%; }
        .page-wrapper .top-bar .row .topbar-info li { color: #ffffff; float: left; font-size: 16px; line-height: 30px; width: 100%; }
        .page-wrapper .top-bar .row ul.topbar-social-list { float: right; width: auto; }
        .page-wrapper .top-bar .row ul.topbar-social-list .social-icons-item { float: left; margin: 0 10px; width: auto; }
        .page-wrapper .top-bar .row ul.topbar-social-list .social-icons-item a { color: #ffffff; float: left; font-size: 18px; line-height: 30px; width: auto; }
        .page-wrapper .top-bar .row ul.topbar-social-list .social-icons-item a i { transition:all 0.3s ease; }
        .page-wrapper .top-bar .row ul.topbar-social-list .social-icons-item a i:hover { color: #ffa700; }
    
    
    
        /*for the header*/
    
        .page-wrapper header.main-header { float: left; width: 100%; }
        .page-wrapper header.main-header .header-content { float: left; padding: 10px 0; width: 100%; }
        .page-wrapper header.main-header .header-content .row { float: left; margin: 0; width: 100%; }
    
        .page-wrapper header.main-header .header-content .row .header-slogen-sec { float: left; padding: 24px 10px 0 !important; }
        .page-wrapper header.main-header .header-content .row .header-slogen-sec h3 { float: left; font-size: 14px; line-height: 22px; text-align: center; text-transform: capitalize; width: 100%; }
        .page-wrapper header.main-header .header-content .row .header-slogen-sec h3 i { float: left; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: 0.4px; padding: 0 16%; width: 100%; }
    
        .page-wrapper header.main-header .header-content .row .header-logo-sec { float: left; padding: 0 10px; }
        .page-wrapper header.main-header .header-content .row .header-logo-sec .header-brand { float: left; padding: 0 !important;  width: 100%; }
        /* .page-wrapper header.main-header .header-content .row .header-logo-sec .header-brand img { max-width: 190px; } */
    
        .page-wrapper header.main-header .header-content .row .header-cont-sec { float: left; padding: 20px 0 0 !important; }
        .page-wrapper header.main-header .header-content .row .header-cont-sec .header-contact { float: none; margin: 0 auto; max-width: 230px; padding: 0; text-align: center; }
        .page-wrapper header.main-header .header-content .row .header-cont-sec .header-contact .icon { float: left; margin: 6px 10px 0 0; position: static; width: auto; }
        .page-wrapper header.main-header .header-content .row .header-cont-sec .header-contact p { float: left; font-size: 14px; font-weight: 400 !important; }
    
    
        /*for the nav menu*/
    
        .page-wrapper header.main-header .header-menu { margin: 0 !important; float:left; position:relative; width:100%; }
        /*.page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item { margin: 0 12px 0 0; }*/
        .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item a { font-weight: 500 ;padding: 0 12px;font-size: 15px; margin-right: 1px; }
        .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item .sub-menu li.menu-item { margin: 0; }
        .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item .sub-menu li.menu-item a {height: auto;line-height: 15px;padding: 14px;font-size: 12px; }
        .page-wrapper header.main-header .header-menu .nav-bar .nav-menu li.menu-item.current-menu-item a { background: #ffa700 none repeat scroll 0 0; }
    
    
    
        /*for the home page slider*/
    
        section#heroArea { height: initial !important; margin: 0px 0 0; min-height: 530px; }
        section#heroArea .vegas-slide { display: none; }
        section#heroArea .vegas-wrapper { float: left; width: 100%; }
        section#heroArea .vegas-wrapper .metaslider { float: left; width: 100%; }
        section#heroArea .vegas-wrapper .metaslider .flexslider { float: left; width: 100%; }
        section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap { background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0; float: left; opacity: 1; padding: 8% 0; position: absolute; top: 0; width: 100%; }
        section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption { float: left; padding: 0 5%; width: 100%; }
        section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center { padding: 0; text-align: center; /* width: 75%; */ }
        section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center h1 { color: #ffffff; font-size: 47px; line-height: 70px; margin: 0 0 10px !important; padding: 0 10%; }
        section#heroArea .vegas-wrapper .metaslider .flexslider .slides li .caption-wrap .caption .col-xs-center h5 { font-size: 18px; font-weight: 400 !important; line-height: 32px; margin: 0 !important; padding: 0 15%; }
    
    
        /*for the home page content part*/
    
    
        .about-us-area .row { margin-bottom: 0 !important; margin-top: 0 !important; }
        .about-us-area .row .col-md-6 { padding-top: 0; }
        .about-us-area .row .col-md-6 .who-we-are { float: left; width: 100%; }
        .about-us-area .row .col-md-6 .who-we-are h2.section-title { float: left; font-size: 22px; font-weight: 500 !important; letter-spacing: 0.4px; line-height: 32px; margin: 0 0 8px !important; text-transform: uppercase; width: 100%; }
        .about-us-area .row .col-md-6 .who-we-are .sect_cont { float:left; width:100%; }
        .about-us-area .row .col-md-6 .who-we-are .sect_cont span { float: left; font-size: 13px; font-weight: 400 !important; line-height: 20px; text-align: justify; width: 100%; margin:10px 0 20px; }
    
    
        .about-us-area .row .col-md-6 .who-we-are a { float: left; font-size: 16px; font-weight: 500 !important; margin: 15px 0 0; text-transform: capitalize; width: 100%; color:#e69800; }
        .about-us-area .row .col-md-6 .who-we-are a:hover { color:#000000; }
    
        .mission-area .container .row { margin-bottom: 0 !important; margin-top: 0; }
        .mission-area .container .row .col-md-6 { padding-top: 0; }
        .mission-area .container .row .who-we-are { float: left; font-size: 13px; font-weight: 400 !important; width: 100%; }
        .mission-area .container .row .who-we-are h2.section-title { float: left; font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 0 8px !important; width: 100%; }
        .mission-area .container .row .who-we-are .sect_cont { float: left; font-size: 13px; font-weight: 400 !important; line-height: 20px; text-align: justify; width: 100%; margin:10px 0 20px; }
    
    
    
        .infrastructure-area .container .row { margin-bottom: 0 !important; margin-top: 0; }
        .infrastructure-area .container .row .col-md-6 { padding-top: 0; }
        .infrastructure-area .container .row .who-we-are { float: left; font-size: 13px; font-weight: 400 !important; width: 100%; }
        .infrastructure-area .container .row .who-we-are h2.section-title { float: left; font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 0 8px !important; width: 100%; }
        .infrastructure-area .container .row .who-we-are .sect_cont { float: left; font-size: 13px; font-weight: 400 !important; line-height: 20px; text-align: justify; width: 100%; margin:10px 0 20px; }
    
    
    
        .infrastructure-area .container .row .who-we-are .sect_cont { float: left; width: 100%; }
        .infrastructure-area .container .row .who-we-are .sect_cont ol { float: left; list-style: outside none none; width: 100%; }
        .infrastructure-area .container .row .who-we-are .sect_cont ol li { float: left; width: 100%; position: relative; line-height: 24px; margin-bottom: 10px; padding-left: 25px; font-size: 13px; font-weight: 400 !important; }
        .infrastructure-area .container .row .who-we-are .sect_cont ol li:before { content: "\f18e"; font-family: 'FontAwesome'; position: absolute; left: 0; top: 3px; color: #ffa700; font-size: 17px; line-height: 20px; }
    
    
    
        .why-us-area .container .row .title-container { margin: 0 auto !important; }
        .why-us-area .container .row .title-container .section-title { font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 !important; width: 100%; }
        .why-us-area .container .row .title-container .line { background: #ffa700 none repeat scroll 0 0; border-radius: 13px; height: 5px; margin: 6px auto 0; position: relative; width: 50px; }
        .why-us-area .container .widget_text .feature-content p { font-weight: 400 !important; }
        .why-us-area .container .widget_text .feature-content h4 { font-size: 16px; line-height: 24px; }
    
    
        section.our-products-area { padding-bottom: 20px !important; }
        .our-products-area .container .row .title-container { margin: 0 auto !important; }
        .our-products-area .container .row .title-container .section-title { font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 !important; width: 100%; }
        .our-products-area .container .row .title-container .line { background: #ffa700 none repeat scroll 0 0; border-radius: 13px; height: 5px; margin: 6px auto 0; position: relative; width: 50px; }
    
        .our-products-area .container .entry-content .item .service-single .service-content { padding: 15px;height:180px; }
        .our-products-area .container .entry-content .item .service-single .service-content h5 { font-size: 16px; line-height: 24px; margin: 0 0 6px !important; }
        .our-products-area .container .entry-content .item .service-single .service-content p { font-size: 12px; font-weight: 400 !important; margin: 0 0 10px !important; }
        .our-products-area .container .entry-content .item .service-single .service-content.read-more { font-size: 13.5px; font-weight: 400 !important; }
    
    
    
        section.industry-served-area  { padding:20px 0 60px !important; }
        .industry-served-area .container .row .title-container { margin: 0 auto !important; }
        .industry-served-area .container .row .title-container .section-title { font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 !important; width: 100%; }
        .industry-served-area .container .row .title-container .line { background: #ffa700 none repeat scroll 0 0; border-radius: 13px; height: 5px; margin: 6px auto 0; position: relative; width: 50px; }
        .industry-served-area .portfolio-wrapper .portfolio-single { background-size: cover; }
    
    
    
        .our-client-area .container .row .title-container { margin: 0 auto !important; }
        .our-client-area .container .row .title-container .section-title { font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 !important; width: 100%; }
        .our-client-area .container .row .title-container .line { background: #ffa700 none repeat scroll 0 0; border-radius: 13px; height: 5px; margin: 6px auto 0; position: relative; width: 50px; }
    
    
    
        section.contact-us-area  { padding:60px 0 !important; }
        .contact-us-area .container .row .title-container { margin: 0 auto !important; }
        .contact-us-area .container .row .title-container .section-title { font-size: 22px; font-weight: 500 !important; line-height: 32px; margin: 0 !important; width: 100%; }
        .contact-us-area .container .row .title-container .line { background: #ffa700 none repeat scroll 0 0; border-radius: 13px; height: 5px; margin: 6px auto 0; position: relative; width: 50px; }
    
        .contact-us-area .container .row.mb-40 { margin-bottom: 0 !important; margin-top: 0; }
        .contact-us-area .container .row .who-we-are { float: left; width: 100%; }
        .contact-us-area .container .row .who-we-are h5 { float: left; font-size: 18px; font-weight: 500 !important; line-height: 34px; margin: 0 0 15px !important; width: 100%; }
        .contact-us-area .container .row .who-we-are ul { float: left; width: 100%; }
        .contact-us-area .container .row .who-we-are ul li { float: left; font-size: 13px; font-weight: 400 !important; letter-spacing: 0.4px; line-height: 30px; margin: 0 0 8px; width: 100%; }
        .contact-us-area .container .row .who-we-are ul li span.glyphicon { color: #ffa700; float: left; font-size: 20px; line-height: 30px; margin: 0 8px 0 0; width: auto; }
        .contact-us-area .container .row .who-we-are ul li strong { float: left; font-size: 14px; font-weight: 500 !important; line-height: 30px; margin: 0 8px 0 0; width: auto; }
    
        /*for the footer*/
    
        .page-wrapper footer.main-footer { float: left; width: 100%; }
    
        /*for the R & D page*/
    
        .rnd-page-cont { float: left; width: 100%; margin:0; font-family: calibri;}
        .rnd-page-cont .rnd-page-subinfo:first-child {padding-top:10px;}
        .rnd-page-cont .rnd-page-subinfo { /* border-bottom: 1px dotted #b1b1b1; */ float: left; margin: 0; padding: 30px 0; width: 100%;display: flex; align-items: center;}
        .rnd-page-cont .rnd-page-subinfo:last-child{border-bottom:0;    padding-bottom: 50px;}
        .rnd-page-cont .rnd-page-subinfo .page-side-pic { float: left; margin: 0 1%; width: 38%; }
        .rnd-page-cont .rnd-page-subinfo .page-side-pic img { max-width: 100%; border: 1px solid #d0d0d0;padding: 2px;border-radius: 2px;background: #e2e0e0;}
        .rnd-page-cont .rnd-page-subinfo .page-side-info { float: left; width: 58%; }
        .rnd-page-cont .rnd-page-subinfo .page-side-info strong {font-size: 22px;margin: 0 0 20px;width: 100%;color: #000;border-bottom: 2px solid #ffa700;padding-bottom: 3px;}
        .rnd-page-cont .rnd-page-subinfo .page-side-info p{ float: left;margin: 0;width: 100%;font-size: 17px;font-weight: 400 !important;line-height: 1.6;margin-top: 6px;}
        .rnd-page-cont .rnd-page-subinfo:nth-child(odd) .page-side-info{margin-right: 20px;}
        .rnd-page-cont .rnd-page-subinfo:nth-child(even) .page-side-info{ margin: 18px 1%; }
    
        .entry-header { color: #ffa700; float: left; position: relative; text-align: center; top: -400px; width: 100%; height:0; display:none; }
        .entry-header h1.entry-title { font-weight: 500 !important; }
    
    
        .top-banner-info-sec { background-position:  center center; background-repeat: no-repeat; background-size: cover; float: left; height: initial; width: 100%; }
    
        .top-banner-info-sec .banner-info-sec .info-content .top-banner-title,.visible-xs.info-content .top-banner-title  { color: #ffffff; float: left; font-size: 32px; margin: 0 0 10px; width: 100%; line-height: 1.2}
        .top-banner-info-sec .banner-info-sec .info-content .top-banner-info { float: left; padding: 0 0 20px; width: 100%; }
        .top-banner-info-sec .banner-info-sec .info-content .top-banner-info .rnd-page-desc { float: left; width: 100%; }
        .top-banner-info-sec .banner-info-sec .info-content .top-banner-info .rnd-page-desc span,.visible-xs.info-content .top-banner-info .rnd-page-desc span { color: #ffffff; float: left; font-size: 17px; text-align: left; width: 100%;line-height: 1.4 }
        .downloads ul li {
            line-height: 3.5;
            margin-left: 50px;
            background-image: url(../images/pdf-icon.png);
            background-repeat: no-repeat;
        }
        i.fa.fa-download {
            font-size: 0;
        }
        .circle  i.fa.fa-download {
            font-size: 30px;
        }
        .visible-xs.info-content .top-banner-title{
            float: left;
            font-size: 22px;
            margin: 0 0 10px;
            width: 100%;
            line-height: 1.2;
            text-transform: uppercase;
            font-family: calibri;
            font-weight: bold !important;
        }
        .visible-xs.info-content .top-banner-info .rnd-page-desc span{
            font-family: calibri;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 400 !important;
        }
        .visible-xs.info-content .top-banner-title, .visible-xs.info-content .top-banner-info .rnd-page-desc span{
            color:#384047;

        }
        