@import "animate.min.css";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	color: #545454;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}

p{
	font-size: 1.2em;
}

.lead{
	font-weight: 300;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.visibility{
	visibility: hidden;
}

.animated{
	visibility: visible!important;
}

/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/

/*---- Typography ----*/
header h1,
.details .carousel,
.social a:hover{
	color: #0bf397;
}

.features p{
	color: #06b872;
}

/*---- Background ----*/
.features,
.detail .carousel-indicators .active {
	background: #0bf397;
}


/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

nav.navbar{
	position: fixed;
	top: 0;
	margin-bottom: 0px;
	padding: 10px 0px 10px 0px;
	width: 100%;
	border-radius: 0px;
	transition: all 0.2s;
}

.navbar-nav{
	float: right;
}

.navbar-default{
	border: none;
	background:transparent;
	opacity: 0.95;
}
.navbar-default .navbar-nav>li>a.contact {
    background: #ffde16;
    border-radius: 25px;
    color: #000;
    padding: 15px 30px;
}

.navbar-default .navbar-nav>li>a {
    color: #e4e4e4;
    font-size: 1.4em;
    padding: 15px 20px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #3A3A3A;
	cursor: pointer;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 6300ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}
ul.nav.navbar-nav {
    margin-top: 1.6em;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-brand img{transition: all 600ms ease-in-out;}
.navbar-default .navbar-brand{
	color: #333333;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 5px;
	transition: all 0.3s ease;
}
nav.navbar.fixed-to-top {
	background: rgb(255, 255, 255);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	padding: 7px 0;
	min-height: 80px;
}
.fixed-to-top img.img-responsive {
    width: 125px;
}
.fixed-to-top .navbar-brand {
	padding: 3px 15px;
}
.fixed-to-top.navbar-default .navbar-nav>li>a { font-size:1.1em; color:#3d3d3d; }
.fixed-to-top ul.nav.navbar-nav{margin-top: .55em;}
/*-----------------------------------------------------------------------------------*/
/* HEADER
/*-----------------------------------------------------------------------------------*/

header{
	padding: 150px 0px 0px 0px;
	background: url('../images/banner.jpg');
	background-color: white!important;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 650px;
	text-align: left;
    position: relative;
}

header h1 {
    font-weight: 300;
    font-size: 3.2em;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
	line-height: 1.2;
	background:-webkit-linear-gradient(transparent, transparent), url('../images/tipulrtext.png') repeat ;
	-webkit-background-clip: text;

}
header p.lead {
    font-size: 2.8em;
	color: #f5f5f5;
	line-height: 40px;
}
header .carousel-iphone{
	margin-right: auto;
	margin-left: auto;
	width: 320px;
	height: 672px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;

}

header .carousel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 95px 0px 0px 4px;
	width: 282px;
}

header .carousel-indicators .active {
	width: 15px;
	height: 15px;
	background: #444444;
}

header .carousel-indicators {
	bottom: -63px;
}
.right-image{
	position:absolute;
	right:0;
	bottom: 0;
}
.right-image img{width: 600px}
header .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 15px;
	height: 15px;
	border: 1px solid #666666;
	border-radius: 10px;
	text-indent: -999px;
	cursor: pointer;
}
.img-responsive.arrow {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
img.img-responsive.google-store,.img-responsive.arrow  {
    float: left;
}
/*-----------------------------------------------------------------------------------*/
/* ABOUT
/*-----------------------------------------------------------------------------------*/

.about, .bigdeal, .category{
	overflow: hidden;
	padding: 40px 0;
	min-height: 200px;
}

.about button.app-store{
	width: 152px;
	height: 52px;
	background: url(../img/badge-appstore.png) #3a3a3a no-repeat 0px 5px;
	color: white;
}
h3.heading {
    font-weight: 300;
    font-size: 3.3rem;
	text-transform: uppercase;
	margin: 0;
}
.about-content {
    font-size: 1.6em;
    margin-top: 30px;
    color: #9f9f9f;
	font-weight: 300;
	position:relative;
}
p.about-content:before,p.about-content:after {
    background: url(../images/quotation.png);
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 47px;
    height: 38px;
    background-repeat: no-repeat;
}
p.about-content:after {
    right: 0;
    left: inherit;
    transform: rotate(180deg);
    bottom: -10px;
    top: inherit;
}
.ques h3 {
    font-size: 4.5em;
    font-weight: 700;
    color: #ffde16;
}
.ques h4 {
    font-weight: 300;
    font-size: 3.4em;
	margin: 0 0 20px;
	color:#545454
}
.ques {
    text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------*/
/* FEATURE
/*-----------------------------------------------------------------------------------*/
.lead,p.note.lead {
    text-align: left;
    font-size: 1.2em;
    line-height: 25px;
    color: #9f9f9f;
}
.bigdeal p.lead {
    padding-left: 25px;
}
.whatnext p.lead {
    color: #545454;
}
p.note.lead {
	padding-left: 35px;
	color: #9f9f9f !important;
}
.heading + p, .heading + p.lead {
    text-align: center;
}
section.feature {
    background:#f4f4f4;
    padding: 30px 0;
}
.feature-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #eae7de;
    line-height: 80px;
    background: #ffde16;
}
.feature-box {
    margin-top: -88px;
}
.feature-content h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5em;
}
p.lead.deal {
    color: #9f9f9f;
}

/*-----------------------------------------------------------------------------------*/
/*	BIG DEAL
/*-----------------------------------------------------------------------------------*/

.deal strong {
    background: #ffde16;
    font-style: italic;
    padding: 2px 10px;
    color: #545454;
}
section.bigdeal.works {
    background: #f4f4f4;
    padding: 40px 0;
}
/*-----------------------------------------------------------------------------------*/
/*	DETAIL
/*-----------------------------------------------------------------------------------*/

.detail{
	overflow: hidden;
	padding: 30px 0;
	min-height: 200px;
}

.detail .title{
	margin-bottom: 80px;
	text-align: center;
}

.detail .features .row{
	margin-bottom: 40px;
}

.detail .carousel h1{
	font-size: 3.8em;
}
.detail .carousel h1, .detail p{
	text-align: left;
	font-weight: 300;
}

.detail p{
	color: #aaa;
}

.detail .carousel-control {
    background: none;
    width: auto;
    top: 50%;
	transform: translateY(-50%);
	background-image:none;
	filter:0;
}
.carousel-control.left {
    left: -52px;
}
.carousel-control.right {
    right: -52px;
}
.detail .app-screenshot{
	overflow: hidden;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 95px;
	width: 320px;
	height: 450px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;
}

.detail .app-screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 4px;
	width: 280px;
}

.detail .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	border-top: 1px solid #eee;
	background: #ffffff;
}

.detail .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.detail .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #eeeeee;
	text-indent: -999px;
	cursor: pointer;
	position: relative;
}

/*-----------------------------------------------------------------------------------*/
/*	CATEGORY
/*-----------------------------------------------------------------------------------*/

.category-box {
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.27);
    margin: 20px auto;
    border-radius: 2px;
}
.tiplur-category {
    height: 260px;
    flex-direction: column;
    justify-content: center;
	position: relative;
	transition: all .3s ease-in-out;
	display: flex;
    display: -webkit-flex;
	display: -moz-flex;
	padding: 30px 0;
	display: run-in;
}
.subcategory:hover .tiplur-category {
    background: #f5f5f5;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.17);
}
.subcategory:hover h4 {
    color: #000000;
}
.subcategory:hover .tiplur-category:after, .subcategory:hover .tiplur-category:before {
    background: #545451;
}
.subcategory:hover {
    text-decoration: none;
}

.tiplur-category:after, .tiplur-category:before {
    content: "";
	position: absolute;
    background: #ffde16;
    width: 100%;
	height: 3px;
	transition: all .3s ease-in-out;
}
.tiplur-category:before {top:-7px}
.tiplur-category:after{bottom:-7px}
.tiplur-category h4 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 17px;
}
.category {
    padding-bottom: 50px;
}
.brd-right {
    border-right: 1px solid rgb(222,222,222);
}
.category-box img{margin: 0 auto;display: block}
/*-----------------------------------------------------------------------------------*/
/*	FEATURES
/*-----------------------------------------------------------------------------------*/


.features{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: black;
}

.features p {
	font-weight: 400;
}
.feature-content p {
    font-weight: 300;
    color: #9f9f9f;
}

.features h2{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
}

.features .circle{
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	text-align: center;

}

.features span.glyphicon, .features i{
	margin-top: 3px;
	color: #ffffff;
	font-size: 5em;
}
section.static {
    background: #fdfae5;
    padding: 40px 0;
}
section.static p.lead {
    text-align: center;
    margin: 0;
    color: #545454;
    font-size: 1.4em;
}

section.contactbox {
    padding: 30px 0;
    text-align: left;
}
.contactbox h3 {
    font-size: 2.2em;
	font-weight: 300;
	margin-bottom: 30px;
}
.contactbox form label {
    font-weight: 500;
    font-size: 14px;
    width: 32%;
    float: left;
    margin: 10px 13px 10px 0;
}
.contact-form p:nth-child(5) label {
    width: 98.4%;
}
.contact-form textarea.form-control {
    height: 140px;
}
.contact-form .form-control {
    border-radius: 3px;
    box-shadow: none;
}
.contact-form .form-control:focus {
    box-shadow: none;
}
.contact-form .btn-warning:focus,.contact-form .btn-warning:hover, .contact-form .wpcf7-submit:hover, .contact-form .wpcf7-submit:focus,.btn-default.agelimit:hover{background:#c2a503;border-color:#c2a503;box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 15px 1px rgba(0,0,0,.14), 0 0px 8px 2px rgba(0,0,0,.12);}
.contact-form .btn-warning, .contact-form .wpcf7-submit, .btn-default.agelimit {
	background: #d3b500;
    border: 1px solid #d3b500;
    padding: 6px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    font-size: 14px;
    color: #fff;
    line-height: 1.428571429;
}
.contact-form .screen-reader-response {
    display: none;
}
.contact-form span.wpcf7-not-valid-tip, .contact-form .wpcf7-validation-errors {
    color: #ea5555;
    margin: 3px 0 0;
    display: block;
}
.location {
    margin: 20px 0 30px;
}
.location img{
    display: inline;
}
.location span {
    padding-left: 10px;
    font-size: 1.35em;
    font-weight: 300;
    color: #545454;
}
.location + p.lead {
    font-size: 1.35em;
    line-height: 1.6;
    color: #545454;
}



/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social{
	overflow: hidden;
	padding: 80px 0px 150px 0px;
	min-height: 350px;
	background: url('../img/sea.jpg');
	background-position: center top;
	background-repeat: repeat-x;
	color: white;
}

.social h2{
	color: white;
}

.social a {
	margin-left: 10px;
	color: #FFF;
	font-size: 5em;
	transition: all 0.3s;
}

.social a:hover{
	text-decoration: none;
	cursor: pointer;

}

/*-----------------------------------------------------------------------------------*/
/*	GET-IT
/*-----------------------------------------------------------------------------------*/

.get-it{
	padding:0px 0 50px;
	text-align: center;
}

.get-it button.app-store{
	width: 152px;
	height: 52px;
	background: url(../img/badge-appstore.png) #373737 no-repeat 0px 5px;
	color: white;
}
p.lead.message {
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
	margin: 30px 0 0;
	line-height: 30px;
    color: #545454;
}
.get-it hr {
    margin-bottom: 2em;
    border-color: rgb(211,181,0);
}
.get-it ul{
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

.get-it ul li{
	display: inline-block;
	margin-left:30px;
}

.get-it ul li:first-child{
	margin-left: 0px;
}

.get-it ul li a {
    color: #545454;
    font-size: 14px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    font-weight: 300;
}

.get-it ul li a:hover{
	color: #3A3A3A;
	text-decoration: none;
	cursor: pointer;
}
.pl20px{padding-left: 20px}
.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.subcategories .modal .modal-dialog {
    display: flex;
    align-items: center;
    margin: auto !important;
    width: 600px;
    justify-content: center;
    height: 100vh;
    left: inherit;
    right: inherit;
    padding: 0;
}
.subcategories .modal-content{width:100%;border-radius: 0}
.store {
    width: 100%;
    float: left;
    margin: 10px 0;
}
.subcategory-box{display: none;}
.subcategories .modal-header {
    background: #ffdd14;
	padding: 5px 15px;
	text-align: left;
    box-shadow: 0 0 9.6px 3.3px rgba(31,31,31,.23);
}
.subcategories h4.modal-title {
    font-size: 1.7em;
	font-weight: 400;
	text-transform: capitalize
}
.subcategories .modal-body {
    color: #2c2c2c;
    text-align: left;
	padding: 15px;
	max-height: 300px;
    overflow-y: auto
}
.subcategories ul{
	padding:0;margin:0
}
.subcategories ul li{
	background: #f4f4f4;
    box-shadow: 0 0 2.4px 1.5px rgba(31,31,31,0.07);
    font-weight: 300;
    display: block;
    font-size: 1.3em;
    padding: 10px;
    margin: 0 0 15px 0;
}
.subcategories ul li:last-child{margin-bottom:0}
.modal-header .close {
    position: absolute;
    right: 15px;
    top: 7px;
    width: 30px;
    height: 30px;
    border: 1px solid #252525;
    border-radius: 50%;
    opacity: 1;
    font-size: 20px;
    text-shadow: none;
    font-weight: 500;
    text-align: center;
    margin: 0;
    transition: all .3s ease-in-out;
    background: transparent;
}
.modal-header .close:hover{background: #252525;color:#fff;}
.modal-header img {
    margin: 0 auto;
}
.modal-body h3 {
    margin: 0 0 20px;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
.subcategories .modal-footer {
    padding: 0 15px 20px;
	border-top: 0;
	margin: 0;
	text-align: center
}
button.btn.btn-default.agelimit[disabled] {
    background: #404041;
    opacity: .5;
	border-color: #404041;
}
button.btn.btn-default.agelimit{border-radius: 0;}
input.myCheck.form-control {
    width: 18px;
    height: 18px;
	margin: 0 10px 0 0;
	float: none;
    display: inline-block;
}
.navbar-default .navbar-toggle .icon-bar{background-color: #070707;}
.navbar-default .navbar-toggle {
    background: #ffed14;
    border-color: #ffde14;
    border-radius: 2px;
}
.copyright img {
    display: inline-block;
}
.mrgn-top{
margin-top:15px;
}

/* The Close Button */
.close {
	position: absolute;
    top: 354px;
    right: -27px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
    top: -20px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


    .modal-dialog.popup_image_dialog {
        width: 750px !important;}

.popup_image_dialog span.close{top:-27px}

/* .popup_image {
  height:600px;
	max-width:1028px !important;
}
.subcategories #image_popup .modal-dialog
{
margin:350px !important
} */

.mobilenotification {display: none;}
.categoriesNoti .modal-content.content-image .close a {color: #fff;}
.categoriesNoti .modal-content.content-image .close a:hover {color: #fff; text-decoration: none; opacity: 1;}
body.modal-open{margin-right: 17px;}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width:1199px) {
	.right-image img{width:400px}
	body{font-size:13px;}
	.about-content{font-size:1.4em}
	.detail .col-md-12 {width: 93%;margin: 0 auto}
}
@media (max-width:991px) and (min-width:859px){
	.container {max-width: 940px}
	p.about-content:before, p.about-content:after{background-size: contain;width: 30px;height: 30px}
	body {font-size: 11px}
	.store img {width: 130px}
	.navbar-default .navbar-nav>li>a.contact{padding: 1em 2em;}
	.detail .col-md-12{width: 88%}
}
@media (max-width:992px) {
	.detail .carousel h1, .detail p{text-align: center}
	.detail p{margin-bottom: 60px;}
	body {font-size: 12px}
	body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {margin-right: 0px}
}
@media (max-width:770px) {
	header{padding-bottom: 70px;height: 100%}
	.fixed-to-top ul.nav.navbar-nav{margin-top: .9em}
	body {font-size: 9px}
	.ques h3{font-size: 4em}
	.detail .col-md-12{width: 90%}
	.contactbox form label{width: 31%}
	.store img {width: 130px}
	.modal-header .close{top: 4px;width: 1.3em;height: 1.3em;font-size: 2em}
	.subcategories .modal .modal-dialog {width: 60%}
	.right-image img{width: 330px}
}
@media (max-width:767px){
	body {font-size: 12px}
	.right-image img{display: none}
	.navbar-default .navbar-brand{padding: 5px 15px;}
	header{padding-top: 80px}
	.feature-box{margin:20px 0}
	.detail .col-md-12{width:80%}
	p.about-content:before, p.about-content:after{background-size: contain;width: 20px;height: 20px}
	header h1{font-size:2em}
	header p.lead{font-size:1.8em}
	.bigdeal p.lead {padding: 0}
	.detail{min-height:inherit;}
	.category {padding: 40px 20px}
	.category-box{margin-bottom:40px;}
	.subcategories .modal .modal-dialog {width: 90%}
	.detail .carousel-control img {width: 80%;}
	.contactbox form label{width:100%}
	.navbar-collapse {background:#000;padding: 0 0 10px;}
	nav.navbar.fixed-to-top{background: rgba(0, 0, 0, 0.69)}
	ul.nav.navbar-nav {
		margin: 0;
		width: 100%;
	}
	.nav>li{text-align: left}
	.navbar-nav>li>a,.navbar-default .navbar-nav>li>a.contact  {
		font-size: 1.3em;
		text-align: left;
		border-bottom: 1px solid #626262;
		color:#fff;
		padding: 10px 20px;
		background: transparent;
		border-radius: 0;
	}
	.navbar-nav>li:last-child>a{border-bottom: 0 !important;}
    .mobilenotification {display: block;}
    .desktopnotification {display: none;}
    .categoriesNoti .modal .modal-dialog {width: 85% !important;}
    .categoriesNoti modal-content content-image {margin-top: 50px;}
    .categoriesNoti .modal-content.content-image .close a {color: #fff;}
}
@media (max-width:480px){


}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}
